* {
	font-family: monospace;
	margin: 5px;
	padding: 5px;
	border-radius: 20px;
	border-width: 5px !important;
}
body {
	background-color: #6474E5;
}
fieldset {
	background-color: #F4A4A4;
	border: 5px solid black;
}
legend {
	font-size: 30px;
	background-color: #4EA1D3;
	border: 5px solid black;
	padding: 5px;
}
label {
	font-size: 15px;
}
input {
	background-color: #F8C8C6;
	border: 5px solid black;
	font-size: 15px;
	width: 300px;
}
select {
	background-color: #F8C8C6;
	border: 5px solid black;
	font-size: 15px;
	width: 100px;
}
textarea {
	background-color: #F8C8C6;
	border: 5px solid black;
	font-size: 15px;
	width: 500px;
}
input.submit, input.reset {
	font-size: 20px;
	background-color: #9AA4EC;
	padding: 10px;
}
h1 {
	font-size: 45px;
	color: white;
}
h2 {
	font-size: 25px;
	color: white;
}
p {
	font-size: 20px;
}
